.content {
  width: 100%;
  padding: 20px 10px 30px;

  img {
    border-color: #8f8f8f;
  }

  ul {
    list-style-type: disc;
    padding-left: 20px;
  }

  strong {
    color: var(--color-secondary);
  }

  a {
    color: var(--color-link);
  }

  @media (--md) {
    width: 70%;
    padding: 0 0 30px;
  }
}