.footer {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-text);
  border-top: 1px solid #e1e1e1;

  p {
    margin: 0;
  }
}